.debug{
    padding: 5px;
}

.floated{
    float: left;
}

.canvasWidth{
    width: 768px;
}

.hidden{
    display: none;
}

.centered{
    margin-left: auto;
    margin-right: auto;
}

.main{
    margin: 10px;
}

.screen{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.padded{
    padding: 20px;
}

.center{
    text-align: center;
}
